<?xml version="1.0"?>
<model>
  <name>ginkgo_tree_template</name>
  <version>1.0</version>
  <sdf version="1.6">ginkgo_tree_template.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your@email.com</email>
  </author>
  <description>
    Ginkgo tree model for sidewalk scenes
  </description>
</model>
