<?xml version="1.0"?>
<model>
  <n>car_road</n>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <n>Your Name</n>
    <email>your@email.com</email>
  </author>
  <description>
    Car road model, 145m x 8m, 2-lane road with center lines and lane markings
  </description>
</model>
